<article class="text-center">
    <img src="{{ base_url() }}/assets/images/insurance-providers.jpg" alt="Ogden Insurance Providers">
    <div class="contain-50 p-t">
        <h3>Explore all our Services</h3>
        <hr>
    </div>
    <div class="grid grid--6 insurance-icons p-t">
        <div class="p-t">
            <h5>Medical Insurance</h5>
            <img src="{{ base_url() }}/assets/images/icons/medical-insurance.png" alt="Medical Insurance NJ">
        </div>
        <div class="p-t">
            <h5>Life Insurance</h5>
            <img src="{{ base_url() }}/assets/images/icons/life-insurance.png" alt="Life Insurance NJ">
        </div>
        <div class="p-t">
            <h5>Income Replacement</h5>
            <img src="{{ base_url() }}/assets/images/icons/income-replacement.png" alt="Income Replacement NJ">
        </div>
        <div class="p-t">
            <h5>Dental Insurance</h5>
            <img src="{{ base_url() }}/assets/images/icons/dental-insurance.png" alt="Dental Insurance NJ">
        </div>
        <div class="p-t">
            <h5>Supplemental Medicare</h5>
            <img src="{{ base_url() }}/assets/images/icons/supplemental-medicare-insurance.png" alt="Supplemental Medicare Insurance NJ">
        </div>
        <div class="p-t">
            <h5>Long Term Care</h5>
            <img src="{{ base_url() }}/assets/images/icons/long-term-care.png" alt="Long Term Care NJ">
        </div>
    </div>
</article>