<section class="secondary p-b">
    <div class="contain-50 p-t text-center">
        <h3 class="border--secondary p-t">Benefits of Travel Insurance</h3>
    </div>
    <div class="grid grid--3 insurance-icons p-b text-center">
        <div class="p-b">
            <h4>Protect Your Investment</h4>
            <img src="{{ base_url() }}/assets/images/icons/medical-insurance.png" alt="Medical Insurance NJ">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ab quos reiciendis rem mollitia autem. Quidem voluptatum velit ipsam natus sit omnis cum, perspiciatis nobis odit vero porro, aut debitis.</p>
        </div>
        <div class="p-b">
            <h4>Medical Coverage</h4>
            <img src="{{ base_url() }}/assets/images/icons/life-insurance.png" alt="Life Insurance NJ">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ab quos reiciendis rem mollitia autem. Quidem voluptatum velit ipsam natus sit omnis cum, perspiciatis nobis odit vero porro, aut debitis.</p>
        </div>
        <div class="p-b">
            <h4>Replace Lost or Stolen Luggage</h4>
            <img src="{{ base_url() }}/assets/images/icons/income-replacement.png" alt="Income Replacement NJ">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ab quos reiciendis rem mollitia autem. Quidem voluptatum velit ipsam natus sit omnis cum, perspiciatis nobis odit vero porro, aut debitis.</p>
        </div>
        <div class="p-b">
            <h4>Emergency Evacuation</h4>
            <img src="{{ base_url() }}/assets/images/icons/dental-insurance.png" alt="Dental Insurance NJ">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ab quos reiciendis rem mollitia autem. Quidem voluptatum velit ipsam natus sit omnis cum, perspiciatis nobis odit vero porro, aut debitis.</p>
        </div>
        <div class="p-b">
            <h4>Trip Cancellation</h4>
            <img src="{{ base_url() }}/assets/images/icons/supplemental-medicare-insurance.png" alt="Supplemental Medicare Insurance NJ">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ab quos reiciendis rem mollitia autem. Quidem voluptatum velit ipsam natus sit omnis cum, perspiciatis nobis odit vero porro, aut debitis.</p>
        </div>
        <div class="p-b">
            <h4>Flight Delays</h4>
            <img src="{{ base_url() }}/assets/images/icons/long-term-care.png" alt="Long Term Care NJ">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ab quos reiciendis rem mollitia autem. Quidem voluptatum velit ipsam natus sit omnis cum, perspiciatis nobis odit vero porro, aut debitis.</p>
        </div>
    </div>
</section>