<section class="secondary p-b">
    <div class="contain-50 p-t text-center">
        <h3 class="border--secondary p-t">Benefits of Travel Insurance</h3>
    </div>
    <div class="grid grid--3 insurance-icons p-b text-center">
        <div class="p-b grid--child-1 grid--child-row-1">
            <h4>Protect Your Investment</h4>
            <img src="{{ base_url() }}/assets/images/icons/medical-insurance.png" alt="Medical Insurance NJ">
            <p>Expenses related to medical crises can arise and balloon your travel budget. Prolonged stay in a foregin hospital can be a jarring experience, we'll help you get home quickly in the event of a serious illness or injury.</p>
        </div>
        <div class="p-b grid--child-2 grid--child-row-1">
            <h4>Medical Coverage</h4>
            <img src="{{ base_url() }}/assets/images/icons/life-insurance.png" alt="Life Insurance NJ">
            <p>We've provided life insurance and accidental death coverage in the event that a family member dies during a trip. Depending on your current life insurance policy, you might not be covered.</p>
        </div>
        <div class="p-b grid--child-3 grid--child-row-1">
            <h4>Replace Lost or Stolen Luggage</h4>
            <img src="{{ base_url() }}/assets/images/icons/income-replacement.png" alt="Income Replacement NJ">
            <p>Travel insurance provides coverage if your personal effects are stolen, lost or damaged during your travels. We can provide full coverage against loss of the item, anywhere in the world.</p>
        </div>
        <div class="p-b grid--child-1 grid--child-row-2">
            <h4>Emergency Evacuation</h4>
            <img src="{{ base_url() }}/assets/images/icons/dental-insurance.png" alt="Dental Insurance NJ">
            <p>If you're studying abroad or traveling in the developing world, you may want to consider having another way home. In the event of merging world crisis, it may be imperative that you leave sooner so that you get home safely.</p>
        </div>
        <div class="p-b grid--child-2 grid--child-row-2">
            <h4>Trip Cancellation</h4>
            <img src="{{ base_url() }}/assets/images/icons/supplemental-medicare-insurance.png" alt="Supplemental Medicare Insurance NJ">
            <p>Reimburses you when certain circumstances prevent you from taking your trip—such as if your cruise line or tour operator goes out of business or if you have to cancel the trip due to sickness, a death in the family or another calamity listed in the policy.</p>
        </div>
        <div class="p-b grid--child-3 grid--child-row-2">
            <h4>Flight Delays</h4>
            <img src="{{ base_url() }}/assets/images/icons/long-term-care.png" alt="Long Term Care NJ">
            <p>A delayed flight can wreak havoc on your trip if you have multiple layovers in different countries. Our policies can provide comprehensive coverage in the event of a delayed flight overseas.</p>
        </div>
    </div>
</section>