{% extends 'layout/main.twig' %}

{% block content %}
    <section class="hero">
        <h1 class="hero--title">Ogden & Co.
            <span class="hero--title-sub">Insurance & Consulting Services</span></h1>
        <img src="{{ base_url() }}/assets/images/ogden-insurance-nj.jpg" alt="Ogden Insurance & Co">
    </section>
    <section class="primary grid grid-2">
        <article class="p-b column-contain--90">
            <h2>Providing NJ Insurance For 30 Years</h2>
            <br/>
            <p>Licensed and serving clients in New Jersey, New York and Connecticut, OGDEN & CO. is an independent insurance brokerage providing customized, cost-effective insurance plan solutions for small to mid-size companies located in New Jersey, New York and Connecticut.
            </p>
            <p>Providing a service isn’t just about delivering what is expected and feeling as though the job is done. We pride ourselves in offering outstanding client service. For us, it is about creating relationships to meet our client’s needs.
            </p>
            <p>We work directly with our clients giving them the attention they deserve. Whether regarding administrative needs, a contractual issue, or a claim, we aim to respond to client requests within 24 hours. If your company is in need of a reliable resource for insurance plan options, allow our team at OGDEN & CO. to work with you to develop the right plan.
            </p>
        </article>
        {% include 'partials/forms/quote.twig' %}
    </section>
    <section>
        <article class="grid grid-2-off">
            <figure>
                <figcaption class="p-t">Get Affordable Medical Insurance</figcaption>
                <img src="{{ base_url() }}/assets/images/affordable-insurance.jpg" alt="Affordable Insurance in NJ">
            </figure>
            <div class="p-b">
                <h3>Exclusive Options for the Perfect Plan</h4>
                <hr/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus est quidem sunt a accusantium praesentium explicabo esse dignissimos voluptatum repudiandae asperiores nesciunt perspiciatis rem culpa natus mollitia, vero eaque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus est quidem sunt a accusantium praesentium explicabo esse dignissimos voluptatum repudiandae asperiores nesciunt perspiciatis rem culpa natus mollitia, vero eaque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo minus est quidem sunt a accusantium praesentium explicabo esse dignissimos voluptatum repudiandae asperiores nesciunt perspiciatis rem culpa natus mollitia, vero eaque?</p>
            </div>
        </article>
    </section>
    <section class="secondary p-t">
        <article class="text-center">
            <img src="{{ base_url() }}/assets/images/insurance-providers.jpg" alt="Ogden Insurance Providers">
            <div class="contain-50 p-t">
                <h3>Explore all our Services</h3>
                <hr>
            </div>
            <div class="grid grid-6 insurance-icons p-t">
                <div>
                    <h5>Medical Insurance</h5>
                    <img src="{{ base_url() }}/assets/images/icons/medical-insurance.png" alt="Medical Insurance NJ">
                </div>
                <div>
                    <h5>Life Insurance</h5>
                    <img src="{{ base_url() }}/assets/images/icons/life-insurance.png" alt="Life Insurance NJ">
                </div>
                <div>
                    <h5>Income Replacement</h5>
                    <img src="{{ base_url() }}/assets/images/icons/income-replacement.png" alt="Income Replacement NJ">
                </div>
                <div>
                    <h5>Dental Insurance</h5>
                    <img src="{{ base_url() }}/assets/images/icons/dental-insurance.png" alt="Dental Insurance NJ">
                </div>
                <div>
                    <h5>Supplemental Medicare</h5>
                    <img src="{{ base_url() }}/assets/images/icons/supplemental-medicare-insurance.png" alt="Supplemental Medicare Insurance NJ">
                </div>
                <div>
                    <h5>Long Term Care</h5>
                    <img src="{{ base_url() }}/assets/images/icons/long-term-care.png" alt="Long Term Care NJ">
                </div>
            </div>
        </article>
    </section>
{% endblock %}